/* Flex Grid
------------------------- */
.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.cell {
  flex: 1 1;

  &.auto {
    flex-basis: auto;
  }
}

.cell-rigid {
  flex: 0 0 auto;
}

.wrap {
  flex-wrap: wrap;
}

/* tablet */
@media (max-width: 750px) {
  .hide-tablet {
    display: none;
  }

  .block-tablet {
    display: block;
  }
}

/* Page content */
html, body {
  height: 100%;
}
body > .main {
  flex: 1 0 auto;
}
