<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta name="author" content="{{ .Site.Params.Author }}">
    {{ if isset .Params "title" -}}
      <title>{{ .Title }} - {{ .Site.Title }}</title>
    {{- else -}}
      <title>{{ .Site.Title }}</title>
    {{- end }}

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}css/styles.css" rel="stylesheet">
    <script src="{{ .Site.BaseURL }}js/main.js"></script>
</head>
<body class="flex col">
  <div class="main">
    {{ partial "nav.html" . }}
    {{- block "main" . }}{{ end -}}
  </div>
  {{ partial "footer.html" . }}
</body>
</html>
