{{ $footerData := .Site.Data.footer }}
<footer>
  <div class="container">
    <h1>LOGO HERE</h1>
    <p>{{ $footerData.blurb }}</p>
    <p>&copy;{{ dateFormat "2006" now }} Monash University. All rights reserved.</p>
  </div>
</footer>
