{{ define "main" }}
{{- $homeData := .Site.Data.home -}}
  <div class="home">
    <!-- Title -->
    <section class="home__full no-min flex">
      <div class="cell img-bg greyed fixed flex home__title" style="background-image: url('{{ .Site.BaseURL }}images/{{ $homeData.mainImage }}');">
        <div class="cell flex col">
          <div class="cell">
            <h1>{{ $homeData.title }}</h1>
            <p>{{ $homeData.subtitle }}</p>
          </div>
        </div>
      </div>
    </section>
    <section class="home__half flex block-tablet">
      <!-- Slogan -->
      <div class="cell flex col home__slogan">
        <div class="home__container">
          <h2 class="h3">{{ $homeData.slogan }}</h2>
        </div>
      </div>
      <!-- Goals -->
      <div class="cell">
        <div class="home__text home__container">
          <h2>{{ $homeData.goalsTitle }}</h2>
          <ol class="home__goals">
            {{ range $index, $item := $homeData.goals }}
              <li class="home_goals__item">
                <span class="home__goals__num">{{ add $index 1 }}</span>{{ $item }}
              </li>
            {{ end }}
          </ol>
        </div>
      </div>
    </section>
    <section class="home__half flex home__highlight">
      <!-- Image -->
      <div class="cell img-bg hide-tablet" style="background-image: url('{{ .Site.BaseURL }}images/{{ $homeData.image1 }}');"></div>
      <!-- Bio -->
      <div class="cell home__bio">
        <div class="home__text home__container">
          <h2 class="h4">{{ $homeData.bioTitle }}</h2>
          <p>{{ $homeData.bio | markdownify }}</p>
        </div>
      </div>
    </section>
    <!-- Stages -->
    <section class="home__half flex col">
      <h2 class="cell-rigid">{{ $homeData.stagesTitle }}</h2>
      <div class="cell">
        <div class="flex wrap block-tablet home__stages">
          {{ range $homeData.stages }}
            <div class="cell-rigid home__stages__item">
              <div class="home__container home__text">
                <h4>{{ .name }}</h4>
                <ul>
                  {{ range .desc }}
                    <li>{{ . }}</li>
                  {{ end }}
                </ul>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
    <!-- Contact us -->
    <section class="home__half flex home__highlight home__contact">
      <h2 class="cell">{{ $homeData.contactTitle }}</h2>
      <div class="cell flex">
        <a href="mailto:{{ .Site.Params.email }}" class="button">Email us!</a>
      </div>
    </section>
  </div>
{{ end }}
