$min_height: 700px;
$section_padding: 40px;

.home {
  margin-top: -60px;
}

/* home utility classes */
.home__full {
  min-height: 100vh;

  &.no-min {
    min-height: 100vh;
  }
}

.home__half {
  min-height: 50vh;
}

@media (max-height: $min_height) {
  .home__full {
    min-height: $min_height;
  }

  .home__half {
    min-height: $min_height/2;
  }
}

.home__full, .home__half {
  box-sizing: border-box;
  padding: $section_padding 0;

  h2 {
    text-align: center;
  }
}

.img-bg {
  background-size: cover;
  background-position: center;
  margin: -$section_padding 0;

  &.fixed {
    background-attachment: fixed;
  }

  &.greyed {
    position: relative;
    z-index: -1;

    * {
      z-index: 1;
    }

    &:before {
      content: "";
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.home__text {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
}

.home__container {
  padding-left: 40px;
  padding-right: 40px;
}

.home__highlight {
  background-color: $primary_color;
  color: #fff;
}

@media (max-width: 550px) {
  .home__full, .home__half {
    padding: $section_padding/2 0;
  }

  .img-bg {
    margin: -$section_padding/2 0;
  }
}

/* --------------------------------
  different sections in home page
  -------------------------------- */

/* title */
.home__title {
  .cell {
    align-self: center;
  }

  p, h1 {
    text-align: center;
    width: fit-content;
    margin: auto;
    color: #fff;
  }

  h1 {
    font-size: 9rem;
  }

  p {
    font-size: 2rem;
  }
}

@media (min-width: 550px) {
  .home__title {
    h1 {
      font-size: 12rem;
    }

    p {
      font-size: 3rem;
    }
  }
}

/* bio */
.home__bio {
  h2 {
    text-align: left;
  }
}

/* stages */
.home__stages {
  justify-content: left;
}

.home__stages__item {
  padding-top: 30px;
  padding-bottom: 30px;
  flex-basis: 33.33%;
  box-sizing: border-box;

  h4 {
    text-align: center;
  }
}

@media (min-width: 751px) {
  .home__stages__item .home__text {
    max-width: 32rem;
  }
}

/* slogan */
.home__slogan {
  justify-content: center;
}

/* goals */
.home__goals {
  margin-bottom: 0;

  li {
    display: block;
  }
}

.home__goals__item {
}

.home__goals__num {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  border: 3px $primary_color solid;
  border-radius: 23px; /* width/2 + border thickness */
  margin-right: 20px;
}

.home__highlight {
  .home__goals__num {
    border-color: #fff;
  }
}

/* contact us */
.home__contact {
  align-items: center;

  .button {
    margin: auto;
    background-color: #fff;
    border: none;
    color: $primary_color;

    padding: 10px 50px;
    font-size: 2rem;
    height: auto;
  }
}
