/* This is here so if we want to add js to transition
 * between floating and not floating it'd be possible
 */
.nav-wrapper.floating {
  height: 60px;
  .nav {
    position: fixed;
  }
}

.nav {
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
  background: rgba($primary_color, 0.9);

  a {
    color: inherit;
    text-decoration: none;
  }

}

.nav__home {
  font-size: 2rem;
}

.nav__pages {
  margin: 0;
}

.nav__pages__item {
  display: inline-block;
  margin: 0;
  padding-left: 10px;
}
